<h1>Login</h1>

<!-- <a href="/auth/login/facebook" class="btn btn-primary">Login with Facebook</a> -->

<!-- <div class="btn btn-block btn-social btn-facebook" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"> -->

<div class="btn btn-block btn-social btn-facebook" data-auto-logout-link="false">
	<span class="fa fa-facebook"></span> 
	<a href="/auth/login/facebook">Login with Facebook</a>
</div>
	
<form method="POST" role="form">
  <div class="form-group">
    <label for="email" class="hidden">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label for="password" class="hidden">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>