<h4>Your Spot to Find Seattle's Best Karaoke Spots!</h4>


<div class="slide-row">
	<div class="grid-full">
	<!-- carousel goes here -->
	<div class="slides">
	  <div class="slide orange">
	<div class="grid-half">
	    <h2>Venues</h2>
	    <p>Find Karoke Near You</p>
	    <a href="/venues" class="button">Search Venues</a>
	  </div>
	  <div class="grid-half">
	    <img src="img/karaoke-background.jpg" alt="" />
	  </div>
	</div><!--/Slide 1-->

	<div class="slide blue">
	  <div class="grid-half">
	    <h2>Calendar</h2>
	    <p>Find when local spots are having Karaoke Night</p>
	    <a href="/Calendar" class="button">Search Calendar</a>
	  </div>
	  <div class="grid-half">
	    <img src="img/party-music.jpg" alt="" />
	  </div>
	</div><!--/Slide 2-->

	<div class="slide green">
	  <div class="grid-half">
	    <h2>Sign Up</h2>
	    <p>Want to save your favorite spots? Sign up to create your favorites list!</p>
	    <a href="#" class="button">Sign Up Now!</a>
	  </div>
	  <div class="grid-half">
	    <img src="img/singing-woman.jpg" alt="" />
	  </div>
	</div><!--/Slide 3-->
	</div>
</div>
</div>

<!--  <div class="main-splash">
	<div class="main-row">
		<div id="venue-main">
			<img src="img/karaoke-background.jpg" alt="" />
			<p>Find Karoke Spots Near You</p>
			<a href="/venues" class="button">Search Venues</a>
		</div>/team
		<div id="calendar-main">
		  <img src="img/party-music.jpg" alt="" />
		  <p>Find out when your local spots are having Karaoke Night</p>
		  <a href="/Calendar" class="button">Search Calendar</a>
		</div>/work
		<div id="signup-main">
		  <img src="img/singing-woman.jpg" alt="" />
		  <p>Want to save your favorite spots? Sign up and create your favorites list!</p>
		  <a href="/auth/signup" class="button">Sign Up</a>
		</div>
	</div>
</div> -->


<!-- <div id="calendar"></div> -->

	
