<div class="row slide-row">
	<div class="grid-full">
	<!-- Carousel begins here -->
	<div class="slides">
	  <div class="slide orange">
		<div class="grid-half slide-text">
		    <h2 class="text-center">Find Local Karaoke</h2>
		    <p class="text-center">Love singing like a rockstar? Seattle Karaoke-Dokie is your spot to find the best Karaoke spots near you!</p>
		    <p class="text-center">
		    <a href="/venues" class="btn btn-success">Search Venues</a>
		    </p>
	  	</div>
	  	<div class="grid-half">
	    	<img src="images/karaoke-background.jpg" alt="" />
	  	</div>
	</div><!--/Slide 1-->

	<div class="slide blue">
	  <div class="grid-half slide-text">
	    <h2 class="text-center">Karaoke Calendar</h2>
	    <p class="text-center">Find out when local spots are having Karaoke Night</p>
	    <p class="text-center"><a href="/calendar" class="btn btn-warning">Search the Calendar</a></p>
	  </div>
	  <div class="grid-half">
	    <img src="images/party-music.jpg" alt="" />
	  </div>
	</div><!--/Slide 2-->

	<div class="slide green row">
	  	<div class="grid-half slide-text">
	  		<h2 class="text-center">Sign Up</h2>
	  		<p class="text-center">Want to save your favorite spots? Sign up to create your go-to list!</p>
	  		<p class="text-center"><a href="/auth/signup" class="btn btn-primary">Sign Up Now!</a></p>
		</div>		
	  	<div class="grid-half">
	    	<img src="images/singing-woman.jpg" alt="" />
	  	</div>
	</div><!--/Slide 3-->
	</div>
</div>
</div>
	
<div class="row grid-bottom">
 	<div class="col-md-6">
		 	<div class="video-wrapper">
		 	<iframe src="https://www.youtube.com/embed/z2iwQoKD6mg" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
  	<div class="col-md-6">
  		<div class="redkaraoke">
	  		<a href="http://www.redkaraoke.com/" target="_blank"><img src="images/redkaraoke.png"><br /></a>
  		</div>
	</div>
</div>


	
