<div class="row slide-row">
	<div class="grid-full">
	<!-- carousel goes here -->
	<div class="slides">
	  <div class="slide orange">
	<div class="grid-half">
	    <h2>Venues</h2>
	    <p>Find Karoke Near You</p>
	    <a href="/venues" class="btn-default">Search Venues</a>
	  </div>
	  <div class="grid-half">
	    <img src="images/karaoke-background.jpg" alt="" />
	  </div>
	</div><!--/Slide 1-->

	<div class="slide blue">
	  <div class="grid-half">
	    <h2>Calendar</h2>
	    <p>Find when local spots are having Karaoke Night</p>
	    <a href="/calendar" class="button">Search Calendar</a>
	  </div>
	  <div class="grid-half">
	    <img src="images/party-music.jpg" alt="" />
	  </div>
	</div><!--/Slide 2-->

	<div class="slide green">
	  <div class="grid-half">
	    <h2>Sign Up</h2>
	    <p>Want to save your favorite spots? Sign up to create your favorites list!</p>
	    <a href="/auth/signup" class="button">Sign Up Now!</a>
	  </div>
	  <div class="grid-half">
	    <img src="images/singing-woman.jpg" alt="" />
	  </div>
	</div><!--/Slide 3-->
	</div>
</div>
</div>
	
<div class="row grid-bottom">
 	<div class="col-md-6">
		 	<div class="video-wrapper">
		 	<iframe src="https://www.youtube.com/embed/z2iwQoKD6mg" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
  	<div class="col-md-6">
  		<div class="redkaraoke">
	  		<a href="http://www.redkaraoke.com/" target="_blank"><img src="images/redkaraoke.png"><br /></a>
  		</div>
	</div>
</div>


	
