<h1>Venues</h1>
<div class="well" id="yelp-list">
<!-- Displays Yelp's 10 top highest rated venues -->
<h3><a href="http://www.yelp.com"><img src="images/yelp_logo_75x38.png" alt="Yelp"></a> Top 10</h3>	
<p><% data.businesses.forEach(function(business, index) { %>
	<%= index +1 %>. <a href="<%= business.url %>" target="_blank"> <%= business.name %></a> <br /><span><%= business.location.display_address %></span> <br />

<% });  %>
</p>
<p>Clicking on the links will open the business listing on <a href="http://www.yelp.com"><img src="images/yelp_logo_50x25.png" alt="Yelp"></a>.</p>
</div>

<div id="map-box">
<form id="input_form">
<label for="map_location"><h4>Search for karaoke:</h4></label>
	<input type="text" id="text_input" name="map_location" placeholder="Search" />
</form>
<div id="mapholder">
</div>
<script src="https://maps.googleapis.com/maps/api/js?&v=3.21&callback=initMap&libraries=places&key=AIzaSyAfTNzIYboU0DwljzFihZn4IiBxcCt1CJQ"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/mapinfo.js"></script>
</div>