body {
	font-family: ‘Ubuntu’, Arial, sans-serif; font-weight: 400;
	background-color: #B665CF

}

.navbar-text {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 10px;
}

h1 { 
	font-family: ‘Ubuntu’, Arial, sans-serif; font-weight: 700; 
	color: #fff;
	/*color: #1216CF;*/
}

h2 {
  font-weight: 400;
  width: 100%;
  font-size: 42px;
  color: #465058;
  margin: 10px 0 0;
}

.btn-block {
	width: 200px;
	margin-bottom: 2%;
}

.btn-block a {
	text-decoration: none;
	color: #fff;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.redkaraoke {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.redkaraoke img {
	position: absolute;
    top: 0;
    left: 0;
	width:100%;
	height: 100%;
}

/*Grid*/

.grid-full {
  width: 100%;
  float: left;
}
.grid-half {
  width: 50%;
  float: left;
}

/*Boxes*/

#yelp-list {
	padding-left: 2%;
	float: left;
	border: 2px solid blue;
	border-radius: 5%;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(32,70,168,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(32,70,168,1);
	box-shadow: 10px 10px 5px 0px rgba(32,70,168,1);	
}
#map-box {
	float: left;
	margin-left: 5%;
}
#mapholder {
	width: 500px;
	height: 325px;
	padding: 2%;
}
.calendar-box {
	width: 40%;
	padding: 0 2%;
	margin-bottom: 3%;
	border: 2px solid blue;
	border-radius: 5%;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(32,70,168,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(32,70,168,1);
	box-shadow: 10px 10px 5px 0px rgba(32,70,168,1);
}

/*Slides*/

.slide-row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.slides {
  width: 100%;
  height: 100%;
  margin: 0 auto 40px;
}
.slide {
  width: 100%;
  height: 100%;
}
.slide h2 {
  margin: 10% 25%;
  color: #fff;
}
.slide p {
  width: 90%;
  margin: 0 20% 40px;
  font-size: 26px;
  color: #fff;
}
.slide .button {
  margin: 0 auto;
  color: #fff;
  border-color: #fff;
  opacity: .6;
}
.slide .button:hover {
  opacity: 1;
}
.slide img {
  width: 70%;
  margin: 50px 50% 50px 10%;
}
.blue {
  background: #3E89BE;
}
.orange {
  background: #F8835A;
}
.green {
  background: #5ECE7F;
}
.yellow {
  background: #FFD365;
}

/*Footer*/

footer {
  margin: 80px 0;
  float: left;
  width: 100%;
}
.social {
  margin: 0;
  padding: 0;
}
.social li a {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 10px solid #ccc;
  opacity: .65;
  transition: .35s linear;
}
.social li a:hover {
  opacity: 1;
}
.social .pink {
  border-color: #FF8DB3
}
.social .light-blue {
  border-color: #7CCEEE
}
.social .dark-blue {
  border-color: #3E89BE
}

/* Media Queries*/

@media (max-width: 960px) {
  body {	

  }
    #mapholder {
	width: 350px;
	height: 250px;
  }
}

@media (min-width: 481px) and (max-width: 700px) {
  body {
    background: seagreen;
  }
  #mapholder {
	width: 350px;
	height: 250px;
  }
  .grid-half {
    width: 80%;
    margin: 0 10%;
  }
  .slide img {
    width: 80%;
    margin: 100px 10%;
  }
}

@media (max-width: 480px) {
  body {
    background: darkred;
  }
   #mapholder {
	width: 350px;
	height: 250px;
  }
  .grid-half {
    width: 80%;
    margin: 0 10%;
  }
  .slide img {
    width: 80%;
    margin: 100px 10%;
  }
}

